<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

    <div class="parallax-container center">
    <div class="parallax">
        <img src="static/img/bg_1_1.jpg">
    </div>
        <div class="row">
            <div class="card title-card z-depth-4">
                <p class="flow-text text-1">ROYAL WORLD SERVICE</p>
                <p class="flow-text text-2">СПЕЦИАЛИЗИРОВАННОЕ КОМПЛЕКСНОЕ ОБСЛУЖИВАНИЕ</p>
                <p class="flow-text text-3">Наша компания осуществляет профессиональный ремонт Porsche, Range и Land Rover с соблюдением строгих стандартов. Квалификация, опыт и знание всех технических нюансов позволяют нашим специалистам точно выявлять неисправности и устранять любые поломки на автомобилях, независимо от типа проблемы, состояния машины, ее модели и года выпуска.
                </p>
            </div>
        </div>
  </div>
    <div class="section white">
    <div class="row container">
      <h2 class="header center">Нашы услуги</h2>
      <ul class="collection">
    <li class="collection-item avatar">
      <img src="static/img/icons3_1.jpg" alt="" class="circle">
      <span class="title">Восстановление двигателя</span>
      <p>При необходимости ремонт может включать восстановление системы охлаждения мотора, зажигания, головок цилиндров и других частей силового агрегата.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="static/img/icons3_2.jpg" alt="" class="circle">
      <span class="title">Полная диагностика</span>
      <p>Располагая современным диагностическим оборудованием, мы способны точно выявлять любые неисправности в подвеске, электронике, топливной системе и других узлах.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="static/img/icons3_3.jpg" alt="" class="circle">
      <span class="title">Ремонт ходовой</span>
      <p>Специалисты компании выполняют замену рулевых тяг, амортизаторов и других частей подвески, восстанавливая стабильность и надежность ходовой.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="static/img/icons3_4.jpg" alt="" class="circle">
      <span class="title">Сход-развал</span>
      <p>Используя специальное оборудование, наше СТО корректирует угол развала и схода колес на всех моделях Range Rover, а также внедорожниках других модификаций.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="static/img/icons3_5.jpg" alt="" class="circle">
      <span class="title">Плановое обслуживание</span>
      <p>При желании у нас можно выполнить замену тормозных колодок, масла, фильтров и других расходных материалов, обеспечивающих надежность важных систем Range Rover.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="static/img/icons3_7.jpg" alt="" class="circle">
      <span class="title">Тюнинг</span>
      <p>Кроме ремонта, мы предлагаем услуги нашего тюнинг-ателье, которое поможет установить аксессуары для придания внешнему облику внедорожника индивидуальности.
      </p>
    </li>
  </ul>
    </div>
  </div>
  <div class="parallax-container parallax-2">
      <div class="parallax">
          <img src="static/img/4.jpg" class="responsive-img">
          
      </div>
        <p class="flow-text center main-text"><span>Royal World Service</span> это</p>
        <div class="row">
            <div class="col  offset-s1 s2 center">
                <i class="material-icons">settings</i>
                <p class="flow-text desc-text">Наш сервис полностью обеспечен всеми необходимыми запасными частями и расходными материалами, что позволяет экономить время на поиске нужных деталей.
                </p>
            </div>
            <div class="col s2 center">
                <i class="material-icons">verified_user</i>
                <p class="flow-text desc-text">Ремонт внедорожников Land и Range Rover осуществляется с точным соблюдением правил, рекомендаций и норм, установленных производителем автомобилей.
                </p>
            </div>
            <div class="col s2 center">
                <i class="material-icons">access_time</i>
                <p class="flow-text desc-text">Сервис компании работает ежедневно, включая выходные дни, что позволяет владельцам Range и Land Rover пользоваться помощью специалистов в любое удобное время.
                </p>
            </div>
            <div class="col s2 center">
                <i class="material-icons">trending_up</i>
                <p class="flow-text desc-text">На нашем сервисе Land Rover работают исключительно высококвалифицированные специалисты, способные справиться с любой поломкой, независимо от модели и комплектации.
                </p>
            </div>
            <div class="col s2 center">
                <i class="material-icons">attach_money</i>
                <p class="flow-text desc-text">Стоимость ремонта Range Rover не превышает среднегородские расценки, что позволяет нам сделать сервис доступным для владельцев внедорожников.
                </p>
            </div>
        </div>
    </div>
    <div class="section white">
    <div class="row container center">
      <h2 class="header">Возникли вопросы?</h2>
      <a class="waves-effect waves-light blue-grey darken-4 btn">ЗАКАЗАТЬ ЗВОНОК</a>
    </div>
  </div>
    <div class="parallax-container">
    <div class="parallax"><img src="static/img/bg_3.jpg"></div>
        <div class="card contacts-card">
            <div class="card-content">
                <div class="center">
                    <span class="card-title">Контакты</span>
                </div>
                <p><i class="material-icons">location_on</i>г. Киев, ул. Лятошинського 2б</p><br>
                <p><i class="material-icons">call</i>098 750 95 09, 044 250 88 45</p><br>
                <p><i class="material-icons">email</i>mail@mail.ua</p><br>
            </div>
        </div>
  </div>
    <div class="section white" style="padding: 0">
        <div id="map"></div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyAmWxiu-eSjUZnT2HFMlnkaKdoB9abiKT0&callback=initMap"></script>
</html>